.wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.75rem;
}

.dot {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 9999px;
}

.dotConnected {
  background-color: #22c55e;
}

.dotDisconnected {
  background-color: #ef4444;
}

.label {
  color: #a3a3a3;
}
